* {
  box-sizing: border-box;
}

body {
  font-family: "Apercu Regular", Helvetica, sans-serif;
  color: #0050ff;

  /* base font-size */
  font-size: 14px;
}

section, header, footer {
  max-width: 600px;
  padding: 10px;
  padding-bottom: 1em;
  margin: 0 auto;

  text-align: center;
}

header {
  margin-top: 3em;
}

.animated-logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/**
 * Animation
 */

 @keyframes swiperight {
  to {
    transform: translateX(0);
  }
 }

 @keyframes widen {
  to {
    width: 80px;
  }
 }

  .fat-line, .thin-line {
    fill: #0050ff;
  }

  .swiping-mask {
    fill: white;
    transform: translateX(-56px);
    animation: swiperight .5s cubic-bezier(.55,1,.4,1) forwards;
  }

  #a-horizontal {
    width: 0;
    animation: widen 1s cubic-bezier(.55,0,.1,1) forwards;
  }

  #a-fat-line-mask { animation-delay: 295ms; }
  #w-fat-line-mask-left { animation-delay: 475ms; }
  #w-fat-line-mask-right { animation-delay: 395ms; }

/**
 * Nonsense
 */

h1, h2 {
  font-family: "Apercu Bold", Helvetica, sans-serif;
  font-weight: bold;
}

.nonsense>p {
  font-size: 1.33333333em;
}

p.business-y {
  font-size: 1em;
}

/**
 * Big Cute Button :)
 */

.big-cute-button {
  font-family: "Apercu Bold", Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;

  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;

  border-radius: 3px;
  border: 1px solid #74A0FF;
  color: #0050ff;
}

.touchy-feely {
  position: relative;
  width: 200px;
}

.smile {
  position: absolute;
}

.small-smile {
  -webkit-transform: scale(.7) rotate(-10deg);
  top: -20px;
  right: 20px;
}

.big-smile {
  -webkit-transform: rotate(20deg);
  top: -10px;
  right: -10px;
}

.lonely-smile {
  -webkit-transform: scale(.6) rotate(-30deg);
  bottom: -5px;
  left: -15px;
}

.big-cute-button:hover {
  background-color: rgba(0, 80, 255, .05);
  box-shadow: 0 1px 5px rgba(0, 80, 255, .1);
}

.big-cute-button:active {
  background-color: rgba(0, 80, 255, .1);
}

/**
 * Instagraaaam
 */

.on-the-gram {
  border-top: 3px dashed #0050ff;
  margin-top: 3em;
}

.on-the-gram h2 {
  padding: 1em 0;
}

.instagram-media {
  display: block;
  width: 100%;
  padding: 10px 10px;
  padding-bottom: 5px;
  margin-bottom: 2em;

  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0);

  text-decoration: none;
  color: #0050ff;
}

.instagram-media:hover {
  border-color: #74A0FF;
}

.instagram-media>img {
  border-radius: 2px;
  width: 100%;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #74A0FF;
}

/**
 * ~~Responsive~~
 */

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }

  header {
    margin-top: 20vh;
  }
}
