  <div class="container">
    <div class="row">
        <div class="navbar-header col-sm-6">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            {% include logo.html %}
          </a>
          <a href="mailto:howdy@awhitty.me" class="hire-me btn btn-pill-md navbar-btn pull-right">howdy@awhitty.me</a>
        </div>

        <div class="ol-sm-6">
          
        </div> 
    </div>
  </div>
