span.remark-tally {
  opacity: .4;
}
span.remark-tally a {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 8px;
  margin-top: -3px;
  border-radius: 3px;
  color: #999999;
  background: #eeeeee;
  text-decoration: none;
  -webkit-transition: background-color 1s;
  -webkit-transition: color .5s;
}
span.remark-tally a.changed {
  background: #ff5482;
  color: #fff;
}
span.remark-tally a.changed:hover {
  background: #ff215d;
}
span.remark-tally a:hover {
  background: #cccccc;
  color: #ffffff;
}
div.remarks {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  margin-top: 20px;
  padding: 0;
  border-top: 1px solid #eee;
}
div.remarks h1 {
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 14px;
  color: #999;
}
div.remarks .left_side {
  float: left;
  width: 10%;
  box-sizing: border-box;
  padding-right: 10px;
}
div.remarks .left_side img {
  width: 100%;
  border-radius: 3px;
}
div.remarks .right_side {
  display: block;
  float: left;
  width: 90%;
  box-sizing: border-box;
}
div.remarks .comment-body {
  border-top: 1px solid #eee;
  padding-top: 5px;
  line-height: 20px;
}
div.remarks .comment-author {
  font-weight: bold;
  color: #aaa;
  font-size: 12px;
}
div.remarks .comment-author .link,
div.remarks .comment-author a {
  color: #999;
  font-weight: normal;
  text-decoration: none;
}
div.remarks .comment-author a:hover {
  text-decoration: underline;
}
div.remarks p {
  margin-bottom: 10px;
}
div.remarks ul {
  max-height: 400px;
  width: 100%;
  overflow: auto;
  margin-bottom: 0;
  margin-top: 10px;
}
div.remarks ul li {
  width: 100%;
  display: block;
  clear: both;
}
div.remarks ul li:last-of-type {
  border: none;
}
div.remarks .add-comment {
  margin-bottom: 0;
}
div.remarks .add-comment textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font: 14px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  color: #777;
  background: #fafafa;
}
div.remarks .add-comment textarea:focus {
  border: none;
  color: #444;
}
div.remarks .add-comment textarea {
  min-height: 20px;
}
div.remarks .add-comment button {
  display: block;
  width: 140px;
  box-sizing: border-box;
  float: right;
  text-align: center;
  padding: 11px 0 9px 0;
  margin: 1px 0 10px 10px;
  background: #1aaf5d;
  color: #fff;
  border-radius: 3px;
  border: none;
  font: 13px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
}
div.remarks .add-comment button:hover {
  background: #21db75;
}
div.remarks .add-comment button:active {
  background: #179951;
}
div.remarks .add-comment button:hover {
  cursor: pointer;
}
div.remarks .add-comment button i {
  margin-right: 5px;
}
div.remarks .add-comment .next-step {
  padding: 2px 0;
  display: block;
}
div.remarks .add-comment .next-step:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
div.remarks .add-comment .remark-login input[type="text"] {
  display: block;
  width: 140px;
  box-sizing: border-box;
  border: 1px solid #ffbacd;
  float: left;
  padding: 10px 5px 8px 5px;
  margin-right: 10px;
  border-radius: 3px;
  font: 13px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
}
div.remarks .add-comment .remark-login input[type="text"]:focus {
  outline: none;
  border-color: #aaa;
}
div.remarks .homage {
  font-size: 10px;
  color: #aaa;
  text-align: right;
}
div.remarks .homage a {
  font-weight: bold;
  text-decoration: none;
  color: #aaa;
}
div.remarks .homage a:hover {
  color: #999;
}
div.remarks:before {
  position: relative;
  width: 0px;
  top: -10px;
  margin: 0 auto;
  content: " ";
  display: block;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #eee;
}
div.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0);
}
.remarkable:hover .remark-tally {
  opacity: 1;
}