<!doctype html>
<html>
<head>
	<title>Austin Whittier</title>
	<link rel="stylesheet" href="static/css/awhitty.css">
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo+2:400,100,300,200,500' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="static/img/portrait-icon.png">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script>
</head>
<body>
	<header class="tile">
		<div class="container">
			<div class="row">
				<div class="portrait-container">
					<!-- I promise I will make a sacrifice to the semantic gods at some point. I have failed them. -->
					<span class="portrait"></span>
				</div>
				<div class="title-container you-cant-contain-this hold-me-back">
					<h1 class="name">Austin Whittier</h1>
					<h4 class="subname">Designer, programmer, goof, etc.</h4>
				</div>
			</div>
		</div>
	</header>

	<section id="right-now">
		<div class="section-header">
			<div class="section-header-container">
				<div class="section-icon">
					<i class="icon ion-ios7-time"></i>
				</div>
				<div class="section-title">
					<h2>Right now</h2>
				</div>
			</div>
		</div>
		<div class="section-content">
			<div class="row">
				<p>I am studying Computer Science at Stanford University. Yay!</p>
			</div>
		</div>
	</section>

	<section id="work">
		<div class="section-header">
			<div class="section-header-container">
				<div class="section-icon">
					<i class="icon ion ion-ios7-briefcase"></i>
				</div>
				<div class="section-title">
					<h2>Work</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="project start-home">
				<div class="col-md-7 col-md-offset-3 project-title">
					<h3><a href="http://remarkablejs.com">Start.Home</a></h3>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<section class="start-home-demo ipad-frame ipad-frame-horizontal">
						<div class="ipad-magic"></div>
						<div class="ipad-interior">
							<div class="ipad-home-button"></div>
							<div class="ipad-screen">
								<img src="static/img/work/start.home/controls.png" alt="">
							</div>
						</div>
					</section>
				</div>
				<div class="col-md-7 col-md-offset-3 project-title remarkable">
					<p class="text-article text-serif thin">I wore many hats for this project while working with the Controls team. My responsibilities ranged from developing a REST API for custom home automation software to prototyping, designing, and developing a Web interface to the home leveraging data visualization and realtime feedback to inspire sustainable living.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="projects">
		<div class="section-header">
			<div class="section-header-container">
				<div class="section-icon">
					<i class="icon ion-ios7-lightbulb"></i>
				</div>
				<div class="section-title">
					<h2>Projects</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row project">
				<div class="col-md-7 col-md-offset-3 project-title">
					<h3><a href="http://remarkablejs.com">Remarkable.js</a></h3>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<section class="remarkable-demo browser-frame">
						<div class="browser-header">
							<div class="browser-control close-browser"></div>
							<div class="browser-control drop-browser"></div>
							<div class="browser-control enbiggn-browser"></div>
						</div>
						<div class="browser-content">
							<div class="top">
								<div class="mini-container">
									<h1 class="cursive">Remarkable.js <span class="muted">(a prototype)</span></h1>
								</div>
							</div>
							<div class="middle"></div>
							<div class="bottom">
								<p>Realtime inline commenting for<br>thoughtful online content</p>
							</div>
						</div>
					</section>	
				</div>
				<div class="col-md-7 col-md-offset-3 project-title remarkable">
					<p class="text-article text-serif thin">I built Remarkable.js as my final project for <a href="http://startup.stanford.edu/">CS 184</a>. The project is a prototype of what inline commenting (comments on specific elements of an article, rather than the whole thing) might look like on mobile and desktop devices.</p>
					<p class="text-article text-serif thin">I intend to flesh this project out as a miniature realtime commenting service for smaller deployments, so stay tuned!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr>
				</div>
			</div>
			<div class="row project">
				<div class="col-md-7 col-md-offset-3 project-title">
					<h3><a href="http://awhitty.github.io/box2d-multitouch-demo/">Balls</a> <small>(requires a multi-touch device)</small></h3>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<section class="balls-demo ipad-frame ipad-frame-horizontal">
						<div class="ipad-magic"></div>
						<div class="ipad-interior">
							<div class="ipad-home-button"></div>
							<div class="ipad-screen">
								<a href="http://awhitty.github.io/box2d-multitouch-demo/" class="ball ball-1"></a>
								<a href="http://awhitty.github.io/box2d-multitouch-demo/" class="ball ball-2"></a>
								<a href="http://awhitty.github.io/box2d-multitouch-demo/" class="ball ball-3"></a>
								<a href="http://awhitty.github.io/box2d-multitouch-demo/" class="ball ball-4"></a>
								<a href="http://awhitty.github.io/box2d-multitouch-demo/" class="ball ball-5"></a>
							</div>
						</div>
					</section>
				</div>
				<div class="col-md-7 col-md-offset-3 project-title remarkable">
					<p class="text-article text-serif thin">Balls is a simple proof of concept for multi-touch interactions with the Box2D physics engine in a browser. I built this to learn how to leverage the multi-touch APIs on modern tablet devices and to learn a thing or two about <a href="http://code.google.com/p/box2dweb/">Box2DWeb</a>. </p>
					<p class="text-article text-serif thin">It's pretty addictive to fling the balls around, so grab your iPad and have some fun.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr>
				</div>
			</div>
		</div>
	</section>
	<section class="contact tile">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-md-offset-3">
					<p class="text-article text-serif thin"></p>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-md-offset-2">
					<br>
					<span data-icon="&#xe019;" class="linecon icon-huge text-muted"></span>
				</div>
				<div class="col-md-7">
					<a href="#" class="btn btn-block btn-primary btn-huge" title="Is this button big enough yet?">Get in touch</a>
				</div>
			</div>
		</div>
	</section>
	<footer class="tile">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<h4>About me</h4>
					<p class="text-light">I am a nineteen year-old student at home for the summer in Denver, Colorado. I study Computer Science at Stanford University during the other three seasons. I like music, fixies, coffee shops, and computers.</p>
				</div>
				<div class="col-md-4">
					<h4>Elsewhere</h4>
					<p class="text-light">You can find me pushing commits on <a href="#">GitHub</a>.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<br>
					<hr>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
					<h5><span class="thin">&copy; 2013</span> Austin Whittier</h5>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>